* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sniglet", cursive;


  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.683));
  background-size: cover;
  height: 100vh;
  background-position: center center;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.683))
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 135, 27, 0.5);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 149, 30, 0.5);
}

header{
  width: 100%;
  display: block;
  height: 50vh;
  text-align: center;

  background: linear-gradient(rgba(0, 0, 0, 0.686), rgba(0, 0, 0, 0.683)),
  url("../imgs/BacgroundHeader.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header img{
  margin: 0 auto;
  height: 100%;
  animation: PortalReveal 1.5s ease-in-out;
  -webkit-filter: drop-shadow(12px 12px 10px rgba(0, 135, 27, 0.5));
  filter: drop-shadow(12px 12px 10px rgba(0, 135, 27, 0.5));
}

@keyframes PortalReveal{
  0% {
    opacity: 0%;
    scale: 0%;
  }

  100%{
    opacity: 100%;
    scale: 100%;
  }
}


.Header {
  display: flex;
  margin: 1rem 0px 1rem 0px;
  justify-content: center;
}

.inputbox {
  position: relative;
  width: 196px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #45ff5b;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45ff5b;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

.Datadiv {
  text-align: center;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  width: 97%;
}

.loader-div {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5cad4a7a;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.loader-div .loader {
  margin: 0 auto;
  display: contents;
}

.loading_off {
  display: none;
}

.loader img {
  -webkit-animation: loading-rotation 2s infinite ease-in-out; /* Safari & Chrome */
  -moz-animation: loading-rotation 2s infinite ease-in-out; /* Firefox */
  -ms-animation: loading-rotation 2s infinite ease-in-out; /* Internet Explorer */
  -o-animation: loading-rotation 2s infinite ease-in-out; /* Opera */
  animation: loading-rotation 2s infinite ease-in-out;
  width: 70%;
  max-width: 35rem;
}

@keyframes loading-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    width: 0%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    width: 70%;
  }
}

.character-card{        
  position: relative;
  width: 19rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  max-height: 310px;
  overflow: hidden;
  border-radius: 1rem;

  flex: 0 0 19.5rem;
  scroll-snap-align: start;
  aspect-ratio: 100 / 103;
}

.character-card .statusbox {
  display: block;
  position: absolute;
  display: inline-block;
  font-size: 10px;
  text-align: end;
  top: 0;
  right: 0;
  color: white;
  margin-top: 2rem;


  -webkit-border-top-left-radius: 140px;
  -webkit-border-bottom-left-radius: 140px;
  -moz-border-radius-topleft: 140px;
  -moz-border-radius-bottomleft: 140px;
  border-top-left-radius: 140px;
  border-bottom-left-radius: 140px;
  transition: all 0.5s ease-out;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.character-card .statusbox.Alive_ESP{
    background-color: green;
    border: solid green 2px;
    margin-right: -5.55rem;
}

.character-card .statusbox.Dead_ESP{
    background-color: red;
    margin-right: -4.75rem;
    border: solid red 2px;
}

.character-card .statusbox.Unknown_ESP{
    background-color: grey;
    margin-right: -8.62rem;
    border: solid grey 2px;
}

.character-card .statusbox.Alive{
    background-color: green;
    border: solid green 2px;
    margin-right: -3.4rem;
}

.character-card .statusbox.Dead{
    background-color: red;
    margin-right: -3.7rem;
    border: solid red 2px;
}

.character-card .statusbox.Unknown{
    background-color: grey;
    margin-right: -6rem;
    border: solid grey 2px;
}

.character-card h1 {
  opacity: 100%;
  margin: 0 auto;
  margin-left: 30px;
  margin-right: 0.5rem;
}

.character-card:hover{
  background: radial-gradient(#111 50%, #000 100%);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.75);
}

.character-card:hover .statusbox{
  margin-right: 0px;
}

.character-card img{
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: all 0.3s ease-out; 
}

.LoadingImg {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
 
  }

  100% {
    background-color: hsl(200, 20%, 95%);

  }
}

.character-card:hover img{
  transform: scale(1.2);
  transition: all 0.3s ease-out;
  opacity: 0.5;
}

.character-card .CharInf{
  color: white;
  text-align: start;
  line-height: 2.5rem;
  width:  100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-out;
  padding: 1rem;
  overflow-wrap: break-word;
  opacity: 0%;
  transform: translateY(100%);
}

.character-card:hover .CharInf{
  opacity: 100%;
  transform: translateY(0%);
}

.character-card .CharInf .CharacterBtn{
  border: solid 2px;
  padding: 0.5rem;
  border-color: green;
  border-radius: 0.5rem;
  background-color: #293241;
  color: white;
  cursor: pointer;
}

.character-card .CharInf h1{
  margin-left: 0px;
}

.character-card .CharInf button{
  width: 100%;
}

#PaginationsButtons {
  text-align: center;
  padding: 1rem
}

.StyledBtn {
  border: solid 2px;
  padding: 1rem;
  margin: 0px 1rem 0px 1rem;
  border-color: green;
  border-radius: 0.5rem;
  background-color: #293241;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
  font-size: 1rem;
}
 
.DisabledBtn{
  pointer-events: none;
  border: solid 2px;
  padding: 1rem;
  margin: 0px 1rem 0px 1rem;
  border-color: rgb(134, 134, 134);
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: none;
}

.StyledBtn svg {
  width: 25px;
  height: 25px;
}


/*  Media Queries */

@media(max-width: 246px){
  .character-card .CharInf{
    line-height: 1.5rem;
  }
  .character-card .CharInf h1{
   font-size: 1rem;
  }
}

@media(max-width: 470px){
  .Header{
    display: block;
    text-align: center;
  }

  .inputbox{
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 696px){
  .Datadiv{
    flex-direction: none;
    flex-direction: unset;
    flex-wrap: unset;
    justify-content: start;
    margin: unset;
    width: unset;

    display: flex;
    overflow-x: scroll;
    padding: 24px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
  }

  .Datadiv::-webkit-scrollbar {
    height: 12px;
    transition: 0.5s;
}
  
  /* Track */
  .Datadiv::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.084)
  }
   
}

@media(max-width: 435px){
  header{
    display: flex;
    justify-content: center;
    height: auto;
  }

  header img{
    width: 100%;
  }
}